
#to-do-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

  h1 {
    color: white;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

 body {
    margin: 25px;
    background-color: bisque;
 }
  
 li {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    list-style-type: none;
    padding: 2px 10px;
 }

 ul {
   padding-left: 0px;
 }

 .complete {
   text-decoration: line-through;
 }